@media screen and (max-width:1000px) {
    #logo {
        height: 85px;
        width: 250px;
    }
    .up-nav {
        display: none;
    }
    #donate {
        display: none;
    }
    .footer {
        display: block;
    }
}

@media screen and (max-width:1280px) {
    .up-nav {
        display: none;
    }
    .footer {
        display: block;
    }
    #donate {
        display: none;
    }
}

@media screen and (min-width:1000px) {
    #logo {
        height: 75px;
        width: 240px;
    }
    footer {
        display: none;
    }
    .nav-btn {
        display: none;
    }
}


/* .navbar {
    width: 100%;
} */

.up-nav {
    background-color: #000dff;
    height: 8vh;
    width: 100%;
}

.social-icon {
    color: white !important;
    font-size: 1.6rem;
    padding: 13px 0px;
    margin-left: 2%;
}

.up-nav span {
    color: white;
    font-size: 14px;
    margin: 0px 20px;
    width: 100%;
    text-align: center;
}

.up-nav-btn {
    border: 1px solid black;
    border-radius: 10px;
    float: right;
    color: white;
    font-size: 18px;
    height: 30px;
    width: 10%;
    margin: 14px 6px;
    background: transparent;
    transition: all 0.5s;
}

.up-nav-btn:hover {
    background-color: #3b7bda;
    color: black;
}

#donate {
    width: 100%;
    color: white;
    background-color: #323ad2;
    border-radius: 8px;
    padding: 7px 35px;
    margin-left: 60px;
}

#smit-btn {
    top: 10px;
}

a.active {
    color: #0d6efd !important;
}

.nav-item {
    color: black !important;
}

.nav-item {
    padding: 10px 16px;
}

#moving-text {
    background-color: #000dff !important;
    color: white;
    font-size: 30px !important;
    width: 80%;
    margin: 10px 130px;
}

h2 {
    text-align: center;
}

#intro {
    width: 98%;
    text-align: justify;
    margin-left: 20px;
    margin: 10px 15px;
    padding: 20px 20px;
    font-size: 1rem;
    line-height: 2;
}

.card-img-top {
    width: 50%;
    margin: 0px auto;
}

.card-title {
    text-align: center;
}

.image {
    width: 100%;
}

.card-img {
    height: 195px;
    width: 100%;
    border-radius: 5px;
    transition: all 1s;
}

.card-img:hover {
    width: 105%;
    height: 200px;
}

.card-gall {
    width: 100%;
}

.dropdown-item:hover {
    background-color: rgb(27, 186, 27);
    color: white;
}

h2 {
    color: #0d6efd;
    text-decoration: underline;
}

.span {
    color: rgb(27, 186, 27);
}

footer {
    height: 10vh;
    width: 100%;
    background-color: #000dff;
}

.icon {
    text-align: center;
}

#span {
    color: white;
    text-align: center;
    width: 100%;
}

.nav-btn {
    float: right;
    background-color: rgb(238, 240, 241);
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 10px;
    font-size: 20px;
    transition: all 0.75s;
}

.nav-btn:hover {
    background-color: #3b7bda;
    color: white;
}

#result {
    float: left;
}

.thank-you {
    background-color: #000dff;
    color: white;
    text-align: center;
    font-size: 2rem;
}

#qwerty {
    background-image: url('https://www.saylaniwelfare.com/static/media/upcoming_background.a669f19ea2aee3c7e10f.png');
    background-size: cover;
    background-position: 100% 0;
    background-color: #0d6db7;
    height: auto;
    width: 90%;
    margin: 10px auto;
}

.section-counter {
    margin: 20px auto;
    background: transparent;
    border: none;
}

.section-counter img {
    margin: 20px auto;
    display: block;
    width: 55%;
    opacity: 1 !important;
}

.counter-image-div {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 20px auto;
    background-color: white;
}

.counter-image {
    vertical-align: middle;
    width: 65%;
}

h3 {
    color: black;
    color: white;
    text-align: center;
}

h4 {
    color: black;
    color: white;
}

h6 {
    text-align: center;
    color: white;
}